/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Amiko:wght@400;600;700&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
/* 
 "Alegreya", serif;
"Amiko", sans-serif;
"B612 Mono", monospace;

*/
:root{
  --bodyFont:"Amiko", sans-serif;
  --otherFont:"Alegreya", serif;
  --bodyFontSize: 16px;
  --textColor: #000000;
  --headingFont:"B612 Mono", monospace;
  --headingColor: #000000;
  --white: #fff;
  --dark: #222;
  --themeColor: #ff7c47;
  --shadow: #0000007d;
  --boxShadowColor: #0000004a;
}
body {
  font-family: var(--bodyFont);
  font-weight: 400; 
  color: var(--textColor);
  font-size: var(--bodyFontSize) 
}

  
button {
  cursor: pointer; 
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; 
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; 
}

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  color: var(--headingColor);
  margin-top: 0px;  
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: var(--bodyFontSize); 
}

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 img{
  max-width: 100%;
 }
 a{
  text-decoration: none;
  color: inherit;
 }
 button{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  line-height: auto;
 }
 
/* default-css END 
================================== */
 

.header-wrap {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrap nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: #D9D9D9;
  border-radius: 40px;
  padding: 0 10px;
}

.header-wrap nav > ul li a {font-weight: 700;color: #000;}

.header-wrap nav > ul li {
  position: relative;
}

.header-wrap nav > ul li ul {
  position: absolute;
  right: 0;
  top: 30px;
  background: #fff;
  box-shadow: 0 21px 80px -41px #000000a1;
  border-radius: 10px;
  min-width: 150px;
  padding: 10px 0;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}

.header-wrap nav > ul li ul li a {
  padding: 5px 20px;
  display: block;
}

.header-wrap nav > ul li:hover ul {
  top: 42px;
  opacity: 1;
  visibility: visible;
}
 

.header-wrap nav > ul > li > a {
  padding: 10px 15px;
  display: block;
  font-family: var(--headingFont);
}
/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: var(--white);
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: var(--white);bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: var(--white);bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  overflow: auto;
  min-height: min-content;
  height: 100vh;
  background: var(--white);
  z-index: 99;
  box-shadow: 0px 0px 9px -1px var(--boxShadowColor);
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding: 30px;
}
.siteBar{
  margin-left: 0; 
}
.menuShadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--shadow);
  z-index: 98;
  opacity: .2;
  visibility: hidden;
}

.menuShadow.show {
  visibility: visible;
  opacity: 1;
} 
.mobile-menu ul li {
  list-style: none;
  display: block;
}
.mobile-menu a.logo {
  display: block;
  max-width: 120px;
  margin-bottom: 50px;
}
.mobile-menu ul li a {
  color: var(--bodyFont);
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu ul li a:hover { 
  color: var(--themeColor);
} 
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: red;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: var(--white);
  box-shadow: 0px 0px 17px -2px var(--boxShadowColor);
}

/* Header section END */










.hero-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-heading h3 {
  max-width: 764px;
  font-family: var(--otherFont);
  font-size: 50px;
  margin: 0;
}

.hero-heading  p {
  text-align: right;
  margin: 0;
  font-size: 20px;
  max-width: 200px;
  color: #F98460;
}

.hero-bottom-imgs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin-top: 150px;
}

.hero-bottom-imgs > p {
  max-width: 250px;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.hero-bottom-imgs > img {
  max-width: 810px;
}

section.hero-area {
  padding: 50px 0 30px 0;
}




/* HERO-area css END && Questions-area STARTED */


.top_indicators {
  position: relative;
  height: 20px;
  background: #F98460;
}

.top_indicators:after {
  content: "";
  position: absolute;
  border-top: 20px solid transparent;
  border-right: 20px solid #F98460;
  transform: rotate(45deg);
  top: 9px;
  left: 50px;
}

.que-wrap {
  position: relative;
  padding: 0 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 120px;
}

.que-blk {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px dashed #F98460;
  padding-left: 150px;
  position: relative;
}

.que-blk h4 {
  font-size: 25px;
}

.que-blk > p,.que-inner-wrap > span {
  font-size: 25px;
  font-family: var(--otherFont);
  color: #7B7B7B;
}

.que-inner-wrap {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 30px;
}

.que-inner-wrap > span {
  font-size: 25px;
}

.que-inner-wrap div {
  font-size: 22px;
  width: 100%;
}

.que-wrap:after {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 60px);
  top: 60px;
  left: 140px;
  background: #F98460;
}

.que-wrap:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 15px;
  border-top: 3px solid #F98460;
  border-bottom: 3px solid #F98460;
  bottom: -15px;
  left: 121px;
}
.que-blk:after {
  content: "";
  width: 25px;
  height: 25px;
  border: 8px solid #F98460;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 79px;
  display: block;
  z-index: 2;
  padding: 4px;
  background: #fff;
  box-shadow: 0px 0px 0px 2px #fff;
}
.que-wrap > span.weeks {
  position: absolute;
  font-size: 22px;
  color: #F98460;
  max-width: 65px;
  text-align: center;
  left: 30px;
  font-family: var(--headingFont);
}
.que-inner-wrap div ul li {
  list-style: disc;
  margin-left: 20px;
}
.que-inner-wrap div p+ ul{
  padding-left: 30px;
}

a.toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 5px;
  padding: 11px;
  transition: .2s;
}

a.toTop img {
  filter: invert(1);
  transition: .2s;
}

a.toTop:hover {
  background: #313131;
}

 
/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.hero-bottom-imgs > img {
    max-width: 700px;
}













}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .hero-bottom-imgs > img {
      max-width: 420px;
  }
  
.hero-heading h3 {
  max-width: 520px; 
  font-size: 34px; 
}
.hero-heading p { 
  font-size: 18px; 
}
section.hero-area {
  padding: 10px 0 20px 0;
}
.hero-bottom-imgs { 
  margin-top: 70px;
}
.hero-bottom-imgs > p {
  max-width: 220px;
  font-size: 16px; 
  margin: 0;
}
.que-blk { 
  padding-left: 110px; 
}
.que-wrap:after { 
  left: 120px; 
}
.que-blk:after { 
  left: 59px; 
}
.que-blk h4 {
  font-size: 20px;
}
.que-blk > p, .que-inner-wrap > span {
  font-size: 18px; 
}
.que-inner-wrap { 
  gap: 30px;
  margin-top: 20px;
}
.que-inner-wrap div {
  font-size: 16px; 
}
.que-wrap:before { 
  left: 102px;
}











}

 
/* small screen :320px. */
@media (max-width: 767px) {

.hero-bottom-imgs > img {
  max-width: 100%;
}
.hero-bottom-imgs,.hero-heading{
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.hero-heading h3 {
  max-width: 100%;  
  font-size: 34px; 
}
.hero-heading p { 
  font-size: 16px; 
  width: 100%;
  text-align: center;
}
section.hero-area {
padding: 10px 0 20px 0;
}
.hero-bottom-imgs { 
margin-top: 70px;
}
.hero-bottom-imgs > p {
max-width: 220px;
font-size: 16px; 
margin: 0;
}
.que-blk { 
padding-left: 50px; 
}
.que-wrap:after { 
left: 20px; 
height: calc(100% - 108px);
top: 110px;
}
.que-blk:after { 
left: 9px; 
}
.que-blk h4 {
font-size: 18px;
}
.que-blk > p, .que-inner-wrap > span {
font-size: 16px; 
}
.que-inner-wrap { 
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.que-inner-wrap div {
font-size: 16px; 
}
.que-wrap:before {
  left: 8px;
  width: 30px;
  height: 12px;
  bottom: -11px;
}
.header-wrap { 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.que-wrap > span.weeks {
  position: unset;
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}
.que-wrap {
  padding: 30px 15px 20px 0px;
}
.top_indicators:after { 
  left: 10px;
}











}
  
